<header>
    <div class="container">
        <div class="navbar-wrp">
            <a href="/" class="logo-link">
                <img src="{{ 'logo.svg' | asset_url }}" alt="" class="logo-img">
            </a>
            <div class="nav-menu">
                <nav role="navigation">
                <ul class="nav-links-list">
                    {%- for link in linklists.main-menu.links -%}
                    <li>
                        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %} class="nav-link">
                        {{ link.title }}
                        </a>

                        {%- if link.links != blank -%}
                        <ul class="nav-links-list-nested">
                            {%- for child_link in link.links -%}
                            <li>
                                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %} class="nav-link-nested">
                                {{ child_link.title }}
                                </a>

                            </li>
                            {%- endfor -%}
                        </ul>
                        {%- endif -%}

                    </li>
                    {%- endfor -%}
                </ul>
                </nav>
                <a href="{{ routes.cart_url }}" class="header-cart-btn">
                    <img src="{{ 'basket icon.svg' | asset_url }}" alt="">
                    <span class="cart-count cart-badge--desktop {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</span>
                </a>
                <div class="menu-icon" id="brg">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>